.App {
  text-align: center;
  background-image: url("./steak.webp");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: slowZoom 30s;
}
.button {
  background-color: black;
  height: 60px;
  width: 200px;
  color: white;
  cursor: pointer;
}
@keyframes slowZoom {
  0% {
    background-size: 100%;
    background-position: center;
  }
  100% {
    background-size: 400%;
    background-position: center;
  }
}
